body {
  /*background: #000;*/
  text-wrap: auto;
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

header {
  text-align: center;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 20px;
}


.my-ig {
  /*color: #fff;*/
  font-family: 'IBM Plex Sans Thai', sans-serif;
}