@import "tailwindcss";

@theme {
    --bg-color: #ffffff;
    --text-b-color: #000000;
    --text-w-color: #ffffff;
    --text-description-color: #8c8c8c;
    --black-in-day-color: #000000;
    --font-title-style: 'Outfit', 'sans-serif';
    --font-dec-style: 'Petit Formal Script', 'cursive';
    --font-des-color: #6a6a6a;
}

.text-hover:hover {
    transform: scale(1.1);
    transition: all 300ms;
}

.text-hover:active {
    transform: scale(0.9);
    transition: all 300ms;
}

.btn-hover:hover {
    transform: scale(1.05);
    transition: all 300ms;
}

.btn-hover:active {
    transform: scale(0.9);
    transition: all 300ms;
}

.outline-text {
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white; /* สำหรับ browser ที่รองรับ */
}